- f.inputs do
  = f.input :email, :autocorrect => 'off', :autocapitalize => 'off'
  = f.input :first_name
  = f.input :last_name
  = f.input :address
  = f.input :taxes

- f.buttons do
  = f.submit "Update Profile"