%h2.left== Manage Employees on #{@project.title}
.right.add= link_to 'Add existing Employee', '#', :class => 'add_button', :to => '.staff_form'
.right.add= link_to 'Back to Project', [current_user, @project], :class => 'show_button'
.clear

.staff
  - if @project.project_staffs.count > 0
    .person
      .person_name 
        %strong Person
      .hours_count
        %strong Hours
      .amount
        %strong Money
      .amount
        %strong Added on
      .person_name
        %strong Actions
      .clear  
    - @project.project_staffs.backward.each do |staff|
      .person{ :class => cycle(:odd, :even), :id => "staff-#{staff.id}" }
        .person_name= link_to staff.person.name, [current_user, staff.person]
        .hours_count= staff.person.total_hours_on @project
        .amount= number_to_currency(staff.person.total_money_on(@project), :precision => 2)
        .amount= l staff.created_at.to_date
        .person_name= link_to 'remove from project', [current_user, @project, staff], :remote => true, :method => :delete, :confirm => 'Are you sure?', :class => 'remove_item_button'
        .clear
  - else
    .staff_list_is_empty
      %i List is empty. Add Employee to Project.


.add_more_block
  = semantic_form_for [current_user, @project, @project.project_staffs.build], :remote => true, :html => { :class => 'none staff_form' } do |f|
    = f.inputs do
      = f.input :person, :as => :select, :include_blank => false, :collection => current_user.people.collect{|p| [ "#{p.name} (#{number_to_currency(p.hourly_rate, :precision => 2)}/hour)", p.id ] }
    = f.buttons do
      = f.submit 'Add employee'
      = link_to 'Hide', '#', :class => 'hide cancel_button'

%hr
%h2 Invite Employee
= semantic_form_for [current_user, @project, @project.invitations.build], :html => { :class => 'invitation_form' } do |f|
  = f.inputs do
    = f.input :project_id, :as => :hidden, :input_html => {:value => @project.id}
    = f.input :first_name
    = f.input :last_name
    = f.input :rate
    = f.input :email
  = f.buttons do
    = f.submit 'Send Invitation'

- content_for :on_ready do
  init_add_form();
  //init_add_invoice();
  //init_project_show_page();
