= content_for :on_ready do
  :plain
    $(".cb").live("change", function() {
      link = $(this).parents(".person").find(".remove_item_button:first");
      rate = $(this).parents(".person").find(".rate_input:first").val();
      href = link.attr("href");
      $.ajax({url: href, data: {hourly_rate: rate}});
    });

%h2.left== Manage Employees on #{@project.title}
.right.add= link_to 'Back to Project', [current_user, @project], :class => 'show_button'
.clear

.staff
  -# if @project.project_staffs.count > 0
  - if current_user.people.count > 0
    .person
      .checkbox
        &nbsp;
      .full_person_name 
        %strong Person
      .rate
        %strong Rate
      .full_hours_count
        %strong Hours
      .amount
        %strong Money
      .person_name.none
        %strong Actions
      .clear  
    - current_user.people.by_name.each do |person|
      - staff = @project.project_staffs.by_person(person.id).first
      .person{ :class => cycle(:odd, :even), :id => "staff-#{person.id}" }
        .checkbox
          = check_box_tag :user_id, 'checked', @project.project_staffs.by_person(person.id).any?, :class => 'cb'
        .full_person_name= link_to person.name, [current_user, person]
        .rate
          = text_field_tag :rate, staff.try(:hourly_rate) || person.hourly_rate, :class => 'rate_input'
        .full_hours_count= person.total_hours_on @project
        .amount= number_to_currency(person.total_money_on(@project), :precision => 2)
        .person_name.none= link_to 'remove from project', toggle_employee_user_project_path(current_user, @project, :person_id => person), :remote => true, :class => 'remove_item_button'
        .clear
  - else
    .staff_list_is_empty
      %i List is empty. First try to add employee.
