%ul
  - @projects.each do |project|
    %li
      = project.title
      %h3 Jobs
      %ul#jobs
        - project.jobs.each do |job|
          %li
            = job.hours
            = job.rate
            = job.comment
            = job.state
      = render 'jobs/form', :project => project
