%h1.left.no_bottom_margin.margin_bottom_30px.margin_top_1em Projects
.clear
- if @projects.any?
  #other_projects_container
    %table.zebra
      %thead
        %tr
          %th Project Name
          %th Status
          %th Total Hours
          %th Amount
          %th Actions
      %tbody
        - @projects.each do |project|
          %tr
            %td= link_to project.title, user_other_project_path(current_user, project)
            %td= project.project_status
            %td= project.employee_hours_total(current_user)
            %td= number_to_currency(project.amount_total(current_user), :precision => 2)
            %td
              - staff = project.project_staffs.by_person(current_user.id).first
              = link_to (staff.present? ? "Log Work" : "Details"), user_other_project_path(current_user, project)
