%h1.left.no_bottom_margin.margin_bottom_30px.margin_top_1em= @project.title
.add.right= link_to 'Back', [current_user, :other_projects], :class => 'list_button'
.clear

%p= @project.description

- staff = @project.project_staffs.by_person(current_user.id).first
- if staff
  %p Your Rate: #{number_to_currency staff.hourly_rate}

.staff.jobs
  .person
    .person_description
      %strong Description
    .hours_count
      %strong Hours
    .amount
      %strong Money
    .amount
      %strong Added on
    .state
      %strong State
    .controls
      %strong Actions
    .clear
  = render :partial => 'jobs/persons_job', :collection => @project.jobs_by(current_user), :as => :job

- if staff
  = render 'jobs/form', :user => current_user, :project => @project
