$e = '#{ escape_javascript(render :partial => '/own_hours/own_hours', :locals => { :project => @project }) }';
== $('.own_hours').html($e).find('.own_hour').eq(1).effect('highlight', {}, 2000);

$('.own_hour_form a.hide').trigger('click');
- if @project.own_hours.count > 0
  $('.own_hours_list_is_empty').hide();
- else
  $('.own_hours_list_is_empty').show();

= update_project_details(@project)
= refresh_diagram(@project)
= clear_fields
= render 'cancel_work'
