.add_more_block
  = semantic_form_for Job.new, :remote => true, :html => { :class => "#{controller_name == 'other_projects' ? '' : 'none'} new_job_form" } do |f|
    - f.inputs do
      - if controller_name == 'projects'
        = f.input :person_id, :collection => project.people, :label => 'Employee'
      -else
        = f.hidden_field :person_id, :value => user.id
      = f.hidden_field :project_id, :value => project.id
      -#= f.input :project_id, :collection => user.other_projects
      = f.input :hours
      = f.input :comment, :input_html => { :rows => '2', :cols => '40' }
    - f.buttons do
      = f.submit 'Log work'
      - if controller_name == 'projects' && action_name == 'show'
        = link_to 'Hide', '#', :class => 'hide cancel_button'