.add_more_block
  = semantic_form_for Job.new, :remote => true do |f|
    - f.inputs do
      = f.hidden_field :person_id, :value => user.id
      = f.input :project_id, :collection => user.other_projects
      = f.input :hours
      = f.input :comment, :input_html => { :rows => '2', :cols => '40' }
    - f.buttons do
      = f.submit 'Log work'


