= semantic_form_for Job.new, :remote => true do |f|
  - f.inputs do
    = f.hidden_field :person_id, :value => user.id
    = f.hidden_field :project_id, :value => project.id
    = f.input :hours
    = f.input :comment
  - f.buttons do
    = f.submit 'Log work'


