.person
  .person_name
    %strong Name
  .person_description
    %strong Description
  .hours_count
    %strong Hours
  .amount
    %strong Money
  .controls
    %strong Actions
  .clear
- project.jobs.each do |job|
  .person
    .person_name= job.person.name
    .person_description= job.comment
    .hours_count= job.hours
    .amount= job.cost
    .controls
      -if job.pending?
        = link_to "Approve", approves_job_path(:project_id => project, :id => job, :status => 1), :remote => 'true'   
      -elsif job.approved?
        %td
          = link_to "Pay", approves_job_path(:project_id => project, :id => job, :status => 0), :remote => 'true'
          |
          = link_to "un approve", approves_job_path(:project_id => project, :id => job, :status => -1), :remote => 'true'
