%table.jobs
  %tr
    %th created at
    %th hours
    %th rate
    %th comment
    %th state
    %th action
  - project.jobs.each do |job|
    %tr{:id => "job_#{job.id}"}
      %td= job.created_at.try :strftime, '%Y %d %h %T' 
      %td= job.hours
      %td= job.rate
      %td= job.comment
      %td= job.state
      %td= link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_button'

