%table.jobs
  %tr
    %th created at
    %th hours
    %th rate
    %th amount
    %th comment
    %th state
    %th action
  - project.jobs_by(current_user).each do |job|
    %tr{:id => "job_#{job.id}"}
      %td= job.created_at.try :strftime, '%Y %d %h %T' 
      %td= job.hours
      %td= job.rate
      %td= "$#{job.try(:cost)}"
      %td= job.comment
      %td{ :class => "#{job.state}_status"} 
        = job.state
      %td= link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_button'
  %tr
    %td totals:
    %td
      %b= project.total_hours_by_person current_user
    %td
    %td
      %b= "$#{project.total_money_by_person current_user}"
    %td
    %td
    %td
