.person.job.item{:id => "job_#{job.id}"}
  .person_description= job.comment
  .hours_count= job.hours
  .amount= number_to_currency(job.cost)
  .state{ :class => "#{job.state}_status"} 
    =job.state
  .controls
    -if job.pending?
      = link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_button'
  .clear
