.person.job.item{:id => "job_#{job.id}"}
  .person_description= job.comment
  .hours_count= job.hours
  .amount= number_to_currency job.cost
  .amount= l job.created_at.to_date
  .state 
    =content_tag(:span, "#{job.state}", :class => "label #{job.state}_status")
  .controls
    - if job.pending?
      = link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_button'
  .clear
