.person.job.item{:id => "job_#{job.id}"}
  .person_description= job.comment
  .hours_count= job.hours
  .amount= job.cost
  .controls
    -if job.pending?
      = link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_button'
  .clear
