.person.job.item{:id => "job_#{job.id}"}
  .person_name= job.person.name
  .person_description= job.comment
  .hours_count= job.hours
  .amount= number_to_currency(job.cost)
  .state 
    =content_tag(:span, "#{job.state}", :class => " label #{job.state}_status")
  .controls
    -if job.pending?
      = link_to "Approve", approves_job_path(:project_id => job.project, :id => job, :status => 1), :remote => true   
      = link_to 'Delete', job, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'delete_button'
    -elsif job.approved?
      %td
        = link_to "Pay", approves_job_path(:project_id => job.project, :id => job, :status => 0), :remote => true
        |
        = link_to "un approve", approves_job_path(:project_id => job.project, :id => job, :status => -1), :remote => true
  .clear
