= content_for :on_ready do
  :plain
    $("#user_user_type").change(function(){
      _this = $(this);
      val = _this.val();
      if (val == '') {
        $('.owner_role, .employee_role').hide();
      } else {
        $('.owner_role, .employee_role').hide();
        $("." + val + '_role').show();
      }
    }).trigger('change');

- f.inputs do
  = f.input :email, :autocorrect => 'off', :autocapitalize => 'off'
  = f.input :first_name
  = f.input :last_name
  = f.input :password
  = f.input :password_confirmation
  = f.input :address

  = f.input :user_type, :collection => [['Provider', 'owner'], ['Employee', 'employee']], :as => :select

  = f.input :taxes, :wrapper_html => { :class => 'owner_role none' }
  = f.input :hourly_rate, :label => 'Hourly Rate (as employee, $/hour)', :wrapper_html => { :class => 'employee_role none' }

- f.buttons do
  = f.submit "Sign up"