%p
  Hello #{@inv.first_name} #{@inv.last_name}! You are invited to participate in project "#{@inv.project.title}" with rate #{@inv.rate}.
  Click on 
  = link_to "this", confirm_invitation_url(@inv.key)
  if you agree to take part in this project.