= error_messages_for :project

- if @project.new_record?
  - @project.uuid = '#' +  "%04d" % (Project.maximum(:id).to_i + 1).to_s

= semantic_form_for([current_user, @project]) do |f|
  - f.inputs do
    = f.input :title
    = f.input :uuid
    = f.input :client, :collection => current_user.clients.order_by_name.all
    = f.input :description, :input_html => { :rows => 8 }
    = f.input :started_on, :input_html => {:class => 'date_picker'}, :as => :string
    = f.input :completed_on, :input_html => {:class => 'date_picker'}, :as => :string
    = f.input :budget, :input_html => {:class => 'short_field'}
    = f.input :internal, :label => 'Internal Project'
  - f.buttons do
    = f.submit f.object.new_record? ? 'Create' : "Update"
