== $('#expense-#{@expense.id}').slideUp('slow').remove();
$e = '#{ escape_javascript(render :partial => '/expenses/expenses', :locals => { :project => @project }) }';
== $('.expenses').html($e);
- if @project.expenses.count > 0
  $('.expenses_list_is_empty').hide();
- else
  $('.expenses_list_is_empty').show();
  
= update_project_details(@project)
= refresh_diagram(@project)
= clear_fields